# Movie Recommendation

In [1]:
import pandas as pd
import numpy as np
credits_df = pd.read_csv("tmdb_5000_credits.csv")
movies_df = pd.read_csv("tmdb_5000_movies.csv")

In [2]:
print(movies_df.shape)

(4803, 20)

In [3]:
movies_df.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [4]:
credits_df.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [5]:
credits_df.columns = ['id','title_movie','cast','crew']
credits_df.head()

,id,title_movie,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [6]:
movies_df = movies_df.merge(credits_df, on="id")

In [7]:
movies_df.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,title_movie,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [8]:
features = ["title_movie","cast", "crew", "keywords", "genres"]


movies_df[['title_movie',"cast", "crew", "keywords", "genres"]].head(10)

,title_movie,cast,crew,keywords,genres
0,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam..."
1,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""..."
2,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam..."
3,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam..."
4,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam..."
5,Spider-Man 3,"[{""cast_id"": 30, ""character"": ""Peter Parker / ...","[{""credit_id"": ""52fe4252c3a36847f80151a5"", ""de...","[{""id"": 851, ""name"": ""dual identity""}, {""id"": ...","[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na..."
6,Tangled,"[{""cast_id"": 34, ""character"": ""Flynn Rider (vo...","[{""credit_id"": ""52fe46db9251416c91062101"", ""de...","[{""id"": 1562, ""name"": ""hostage""}, {""id"": 2343,...","[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751..."
7,Avengers: Age of Ultron,"[{""cast_id"": 76, ""character"": ""Tony Stark / Ir...","[{""credit_id"": ""55d5f7d4c3a3683e7e0016eb"", ""de...","[{""id"": 8828, ""name"": ""marvel comic""}, {""id"": ...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam..."
8,Harry Potter and the Half-Blood Prince,"[{""cast_id"": 3, ""character"": ""Harry Potter"", ""...","[{""credit_id"": ""52fe4273c3a36847f801fab1"", ""de...","[{""id"": 616, ""name"": ""witch""}, {""id"": 2343, ""n...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""..."
9,Batman v Superman: Dawn of Justice,"[{""cast_id"": 18, ""character"": ""Bruce Wayne / B...","[{""credit_id"": ""553bf23692514135c8002886"", ""de...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 7002...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam..."

In [9]:
movies_df[["title_movie","cast", "crew", "keywords", "genres"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title_movie  4803 non-null   object
 1   cast         4803 non-null   object
 2   crew         4803 non-null   object
 3   keywords     4803 non-null   object
 4   genres       4803 non-null   object
dtypes: object(5)
memory usage: 187.7+ KB

In [10]:
import json
list2=[]
for  i in movies_df['keywords']:
  list1 = []
  i = json.loads(i)
  for j in i[:3]:
    list1.append(j['name'])
  list2.append(list1)
movies_df['keywords'] = list2

list2 =[]
for  i in movies_df['genres'].values:
  list1 = []
  i =json.loads(i)
  for j in i[:3]:
    list1.append(j['name'])
  list2.append(list1)
  # res = json.loads(i)
movies_df['genres'] = list2

In [11]:
movies_df1=movies_df[features]
movies_df1.head()

,title_movie,cast,crew,keywords,genres
0,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[culture clash, future, space war]","[Action, Adventure, Fantasy]"
1,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[ocean, drug abuse, exotic island]","[Adventure, Fantasy, Action]"
2,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[spy, based on novel, secret agent]","[Action, Adventure, Crime]"
3,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[dc comics, crime fighter, terrorist]","[Action, Crime, Drama]"
4,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[based on novel, mars, medallion]","[Action, Adventure, Science Fiction]"

In [12]:
list1=[]
for  i in movies_df1['cast']:
  res = json.loads(i)
  list1.append(res)
movies_df1['cast'] = list1


list1=[]
for  i in movies_df1['crew']:
  res = json.loads(i)
  list1.append(res)
movies_df1['crew'] = list1

/var/folders/nf/r4jgw26163j0xgqlgstm67r80000gn/T/ipykernel_34547/2251701251.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df1['cast'] = list1
/var/folders/nf/r4jgw26163j0xgqlgstm67r80000gn/T/ipykernel_34547/2251701251.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df1['crew'] = list1

In [13]:
movies_df1.head()

,title_movie,cast,crew,keywords,genres
0,Avatar,"[{'cast_id': 242, 'character': 'Jake Sully', '...","[{'credit_id': '52fe48009251416c750aca23', 'de...","[culture clash, future, space war]","[Action, Adventure, Fantasy]"
1,Pirates of the Caribbean: At World's End,"[{'cast_id': 4, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4232c3a36847f800b579', 'de...","[ocean, drug abuse, exotic island]","[Adventure, Fantasy, Action]"
2,Spectre,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '54805967c3a36829b5002c41', 'de...","[spy, based on novel, secret agent]","[Action, Adventure, Crime]"
3,The Dark Knight Rises,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '52fe4781c3a36847f81398c3', 'de...","[dc comics, crime fighter, terrorist]","[Action, Crime, Drama]"
4,John Carter,"[{'cast_id': 5, 'character': 'John Carter', 'c...","[{'credit_id': '52fe479ac3a36847f813eaa3', 'de...","[based on novel, mars, medallion]","[Action, Adventure, Science Fiction]"

In [14]:
movies_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title_movie  4803 non-null   object
 1   cast         4803 non-null   object
 2   crew         4803 non-null   object
 3   keywords     4803 non-null   object
 4   genres       4803 non-null   object
dtypes: object(5)
memory usage: 187.7+ KB

In [15]:
def get_director(x):
    for i in x:
        if i["job"] == "Director":
            return i["name"]
    return np.nan
movies_df1["director"] = movies_df1["crew"].apply(get_director)

/var/folders/nf/r4jgw26163j0xgqlgstm67r80000gn/T/ipykernel_34547/1799078319.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df1["director"] = movies_df1["crew"].apply(get_director)

In [16]:
movies_df1.head()

,title_movie,cast,crew,keywords,genres,director
0,Avatar,"[{'cast_id': 242, 'character': 'Jake Sully', '...","[{'credit_id': '52fe48009251416c750aca23', 'de...","[culture clash, future, space war]","[Action, Adventure, Fantasy]",James Cameron
1,Pirates of the Caribbean: At World's End,"[{'cast_id': 4, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4232c3a36847f800b579', 'de...","[ocean, drug abuse, exotic island]","[Adventure, Fantasy, Action]",Gore Verbinski
2,Spectre,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '54805967c3a36829b5002c41', 'de...","[spy, based on novel, secret agent]","[Action, Adventure, Crime]",Sam Mendes
3,The Dark Knight Rises,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '52fe4781c3a36847f81398c3', 'de...","[dc comics, crime fighter, terrorist]","[Action, Crime, Drama]",Christopher Nolan
4,John Carter,"[{'cast_id': 5, 'character': 'John Carter', 'c...","[{'credit_id': '52fe479ac3a36847f813eaa3', 'de...","[based on novel, mars, medallion]","[Action, Adventure, Science Fiction]",Andrew Stanton

In [17]:
all_cast_list = []
for i in movies_df1['cast'].values:
    cast_list = []
    for j in i[:3]:
        cast_list.append(j['character'])
    all_cast_list.append(cast_list)

movies_df1['cast'] = all_cast_list

/var/folders/nf/r4jgw26163j0xgqlgstm67r80000gn/T/ipykernel_34547/104954914.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df1['cast'] = all_cast_list

In [18]:
movie1=movies_df1[['title_movie', 'cast', 'director', 'keywords', 'genres']]

In [19]:
movie1.head(5)

,title_movie,cast,director,keywords,genres
0,Avatar,"[Jake Sully, Neytiri, Dr. Grace Augustine]",James Cameron,"[culture clash, future, space war]","[Action, Adventure, Fantasy]"
1,Pirates of the Caribbean: At World's End,"[Captain Jack Sparrow, Will Turner, Elizabeth ...",Gore Verbinski,"[ocean, drug abuse, exotic island]","[Adventure, Fantasy, Action]"
2,Spectre,"[James Bond, Blofeld, Madeleine]",Sam Mendes,"[spy, based on novel, secret agent]","[Action, Adventure, Crime]"
3,The Dark Knight Rises,"[Bruce Wayne / Batman, Alfred Pennyworth, Jame...",Christopher Nolan,"[dc comics, crime fighter, terrorist]","[Action, Crime, Drama]"
4,John Carter,"[John Carter, Dejah Thoris, Sola]",Andrew Stanton,"[based on novel, mars, medallion]","[Action, Adventure, Science Fiction]"

In [20]:
def clean_data(row):
    if isinstance(row, list):
        return [str.lower(i.replace(" ", " ")) for i in row]
    else:
        if isinstance(row, str):
            return str.lower(row.replace(" ", " "))
        else:
            return ""

features = ['title_movie','cast', 'keywords', 'director', 'genres']
for feature in features:
    movie1[feature] = movie1[feature].apply(clean_data)

/var/folders/nf/r4jgw26163j0xgqlgstm67r80000gn/T/ipykernel_34547/695322410.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie1[feature] = movie1[feature].apply(clean_data)

In [21]:
movie1[features]

,title_movie,cast,keywords,director,genres
0,avatar,"[jake sully, neytiri, dr. grace augustine]","[culture clash, future, space war]",james cameron,"[action, adventure, fantasy]"
1,pirates of the caribbean: at world's end,"[captain jack sparrow, will turner, elizabeth ...","[ocean, drug abuse, exotic island]",gore verbinski,"[adventure, fantasy, action]"
2,spectre,"[james bond, blofeld, madeleine]","[spy, based on novel, secret agent]",sam mendes,"[action, adventure, crime]"
3,the dark knight rises,"[bruce wayne / batman, alfred pennyworth, jame...","[dc comics, crime fighter, terrorist]",christopher nolan,"[action, crime, drama]"
4,john carter,"[john carter, dejah thoris, sola]","[based on novel, mars, medallion]",andrew stanton,"[action, adventure, science fiction]"
...,...,...,...,...,...
4798,el mariachi,"[el mariachi, bigotÃ³n, mauricio (moco)]","[united statesâ€“mexico barrier, legs, arms]",robert rodriguez,"[action, crime, thriller]"
4799,newlyweds,"[buzzy, linda, marsha]",[],edward burns,"[comedy, romance]"
4800,"signed, sealed, delivered","[oliver oâ€™toole, shane mcinerney, rita haywith]","[date, love at first sight, narration]",scott smith,"[comedy, drama, romance]"
4801,shanghai calling,"[sam, amanda, donald]",[],daniel hsia,[]
4802,my date with drew,"[herself, himself, himself]","[obsession, camcorder, crush]",brian herzlinger,[documentary]

In [22]:
def create_soup(features):
    return features['title_movie']+' ' +features['director']+' '+' '.join(features['keywords']) + ' ' + ' '.join(features['cast']) + ' ' + features['director'] + ' ' + ' '.join(features['genres'])


movie1["soup"] = movie1.apply(create_soup, axis=1)
print(movie1["soup"].head())

0    avatar james cameron culture clash future spac...
1    pirates of the caribbean: at world's end gore ...
2    spectre sam mendes spy based on novel secret a...
3    the dark knight rises christopher nolan dc com...
4    john carter andrew stanton based on novel mars...
Name: soup, dtype: object

In [23]:
print(movie1['soup'][:5].values)

['avatar james cameron culture clash future space war jake sully neytiri dr. grace augustine james cameron action adventure fantasy'
 "pirates of the caribbean: at world's end gore verbinski ocean drug abuse exotic island captain jack sparrow will turner elizabeth swann gore verbinski adventure fantasy action"
 'spectre sam mendes spy based on novel secret agent james bond blofeld madeleine sam mendes action adventure crime'
 'the dark knight rises christopher nolan dc comics crime fighter terrorist bruce wayne / batman alfred pennyworth james gordon christopher nolan action crime drama'
 'john carter andrew stanton based on novel mars medallion john carter dejah thoris sola andrew stanton action adventure science fiction']

In [24]:
print(movie1['title_movie'].head())

0                                      avatar
1    pirates of the caribbean: at world's end
2                                     spectre
3                       the dark knight rises
4                                 john carter
Name: title_movie, dtype: object

In [39]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

count_vectorizer = CountVectorizer(stop_words="english")
count_matrix = count_vectorizer.fit_transform(movie1["soup"])

print(count_matrix.shape)

cosine_sim2 = cosine_similarity(count_matrix, count_matrix) 
print(cosine_sim2.shape)

(4803, 15508)
(4803, 4803)

In [40]:
print(movie1['soup'])

0       avatar james cameron culture clash future spac...
1       pirates of the caribbean: at world's end gore ...
2       spectre sam mendes spy based on novel secret a...
3       the dark knight rises christopher nolan dc com...
4       john carter andrew stanton based on novel mars...
                              ...
4798    el mariachi robert rodriguez united statesâ€“mex...
4799    newlyweds edward burns  buzzy linda marsha edw...
4800    signed, sealed, delivered scott smith date lov...
4801    shanghai calling daniel hsia  sam amanda donal...
4802    my date with drew brian herzlinger obsession c...
Name: soup, Length: 4803, dtype: object

In [41]:
movie1.head(1)

,title_movie,cast,director,keywords,genres,soup
0,avatar,"[jake sully, neytiri, dr. grace augustine]",james cameron,"[culture clash, future, space war]","[action, adventure, fantasy]",avatar james cameron culture clash future spac...

In [42]:
# movies_df = movies_df.reset_index()
indices = pd.Series(movie1.index, index=movie1['title_movie'])

In [43]:
print(indices)

title_movie
avatar                                         0
pirates of the caribbean: at world's end       1
spectre                                        2
the dark knight rises                          3
john carter                                    4
                                            ...
el mariachi                                 4798
newlyweds                                   4799
signed, sealed, delivered                   4800
shanghai calling                            4801
my date with drew                           4802
Length: 4803, dtype: int64

In [44]:
indices = pd.Series(movies_df.index, index=movie1["title_movie"]).drop_duplicates()

print(indices.head())

title_movie
Avatar                                      0
Pirates of the Caribbean: At World's End    1
Spectre                                     2
The Dark Knight Rises                       3
John Carter                                 4
dtype: int64

In [45]:
print(indices['Avatar'])

0

In [46]:
idx = indices['The Dark Knight Rises']

In [47]:
print(idx)

3

In [48]:
movie_index_score = list(enumerate(cosine_sim2[0]))
movie_index_score=sorted(movie_index_score, key=lambda x: x[1], reverse=True)
movie_index_score = movie_index_score[1:11]
movies_indices = [ind[0] for ind in movie_index_score]
movies = movie1["title_movie"].iloc[movies_indices]
print(movies)

587                      The Abyss
2403                        Aliens
282                      True Lies
279     Terminator 2: Judgment Day
3439                The Terminator
1652          Dragonball Evolution
25                         Titanic
2708                      Caravans
2597                    Confidence
94         Guardians of the Galaxy
Name: title_movie, dtype: object

In [49]:
print(movie1.iloc[3])

title_movie                                the dark knight rises
cast           [bruce wayne / batman, alfred pennyworth, jame...
director                                       christopher nolan
keywords                   [dc comics, crime fighter, terrorist]
genres                                    [action, crime, drama]
soup           the dark knight rises christopher nolan dc com...
Name: 3, dtype: object

In [54]:
print(movie1.iloc[119])

title_movie                                        batman begins
cast           [bruce wayne / batman, alfred pennyworth, henr...
director                                       christopher nolan
keywords                     [himalaya, martial arts, dc comics]
genres                                    [action, crime, drama]
soup           batman begins christopher nolan himalaya marti...
Name: 119, dtype: object

In [51]:
print(movie1.iloc[3530])

title_movie                                              don jon
cast               [jon martello, jr., barbara sugarman, esther]
director                                    joseph gordon-levitt
keywords                       [pornography, sex, sex addiction]
genres                                  [romance, comedy, drama]
soup           don jon joseph gordon-levitt pornography sex s...
Name: 3530, dtype: object

In [55]:
def get_recommendations(title, cosine_sim=cosine_sim2):
    index_value_of_the_movie = indices[title]
    similarity_scores = list(enumerate(cosine_sim[index_value_of_the_movie]))
    similarity_scores= sorted(similarity_scores, key=lambda x: x[1], reverse=True)
    similarity_scores= similarity_scores[:11]
    # (a, b) where a is id of movie, b is similarity_scores

    movies_indices = [ind[0] for ind in similarity_scores]
    movies = movie1["title_movie"].iloc[movies_indices]
    return movies


print("################ Content Based System #############")
print("Recommendations for The Dark Knight Rises")
print(get_recommendations("The Dark Knight Rises", cosine_sim2))
print()
print("Recommendations for Avengers")
print(get_recommendations("Avatar", cosine_sim2))

################ Content Based System #############
Recommendations for The Dark Knight Rises
3                         the dark knight rises
65                              the dark knight
119                               batman begins
1033                                   insomnia
1196                               the prestige
96                                    inception
3854    batman: the dark knight returns, part 2
3573                                    memento
299                              batman forever
95                                 interstellar
3180                         the way of the gun
Name: title_movie, dtype: object

Recommendations for Avengers
0                           avatar
587                      the abyss
2403                        aliens
282                      true lies
279     terminator 2: judgment day
3439                the terminator
1652          dragonball evolution
25                         titanic
2708                      caravans
2597                    confidence
94         guardians of the galaxy
Name: title_movie, dtype: object